<div class="single-widget">
    <h2 ng-bind="name"></h2>
    <ul class="nav nav-pills nav-stacked">
        <li ng-repeat="m in data">
            <a href="#" ng-bind="m"></a>
        </li>
    </ul>
</div>